/* HEADER PAGE PHOTOGRAPHE */
#contact_modal {
    display: none;
    position: relative;
    justify-content: center;
}

/* PROFIL DU PHOTOGRAPHE */
.photograph-header {
    background-color: #FAFAFA;
    height: auto;
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    /* Ajout pour permettre l'adaptation sur petits écrans */
}

.photograph-header>* {
    width: 100%;
    text-align: center;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.profil-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profil-btn,
.profil-img {
    display: flex;
    justify-content: center;
}

.profil-img {
    justify-content: center;
}

#profil-picture {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.photograph-header h1,
.profil-location {
    margin: 0;
}

.photograph-header h1 {
    font-size: 34px;
    color: #D3573C;
    font-weight: normal;
}

.profil-location {
    font-size: 18px;
    color: #901C1C;
}

.profil-tagline {
    font-size: 16px;
    color: #525252;
    margin-top: 10px;
}

/* FILTRE DE RECHERCHE  */
#sort-nav {
    margin: 25px 10%;
}

#sort-select {
    width: 150px;
    height: 60px;
    padding: 0 5px;
    background-color: #901c1c;
    color: #ffffff;
    border-radius: 5px 5px 0 0;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.sort-text {
    font-size: 18px;
    font-weight: bolder;
    color: #000;
}

/* GALLERIE */
.gallery-picture,
.like {
    cursor: pointer;
}

#photographer_gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

#photographer_gallery article {
    width: 47%;
    min-width: 300px;
    height: 350px;
    margin-bottom: 5%;
}

.gallery-picture {
    width: 100%;
    height: 90%;
    border-radius: 5px;
    object-fit: cover;
}

.media-content {
    display: flex;
    justify-content: space-between;
    color: #901c1c;
    font-size: 24px;
    align-items: center;
}

.media-content .title {
    margin: 0;
    width: 75%;
    font-size: 24px;
    font-weight: 400;
}

#photographer_gallery .like {
    display: flex;
    margin: 0;
}

#photographer_gallery span {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

#photographer_gallery .number-like {
    margin: 0;
}

/* LIGHTBOX */
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(245, 245, 245, 0.92);
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.lightbox.show {
    display: flex;
}

.lightbox-content {
    display: flex;
    justify-content: center;
    width: 70%;
}

.lightbox button {
    border: none;
    background-color: transparent;
    position: fixed;
    cursor: pointer;
    color: #901c1c;
}

.lightbox-next,
.lightbox-prev {
    width: 50px;
    height: 100%;
    top: 0;
    right: 5%;
    margin-top: -14px;
    font-size: 50px;
    cursor: pointer;
}

.lightbox-prev {
    right: auto;
    left: 5%;
}

.lightbox-close {
    font-size: 45px;
    top: 10px;
    right: 5%;
    z-index: 10;
    cursor: pointer;
}

.lightbox-image,
.lightbox-video {
    width: 100%;
    height: 750px;
}

.lightbox-video:focus,
.lightbox-image:focus {
    border: none;
}

.lightbox-title {
    color: #901c1c;
    font-size: 24px;
    margin: 0;
}

/* FORMULAIRE CONTACT  */
#contact_modal {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 50%;
    top: 50%;
    margin-top: -50vh;
    margin-left: -50vw;
    overflow: auto;
    background-color: rgba(196, 196, 196, 0.4);
    z-index: 99;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 80%;
    max-width: 669px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 35px;
    margin: auto;
}

.header-formulaire {
    height: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

#contact-header {
    display: flex;
    flex-direction: column;
    font-size: 64px;
    margin-bottom: 25px;
    color: #312e2e;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
    margin-top: 10px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
}

#textArea {
    width: 100%;
    height: 220px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
}

/* RESPONSIVE PAGE PHOTOGRAPHE */
@media screen and (max-width: 960px) {
    .photograph-header {
        flex-direction: column;
        justify-content: center;
        height: auto;
        gap: 20px;
        padding: 10px 0;
    }

    .photograph-header div {
        width: 100%;
        justify-content: center;
    }

    .photograph-header .profil-card {
        text-align: center;
    }

    .contact_button {
        width: 150px;
        height: 50px;
        font-size: 16px;
    }

    #profil-picture {
        width: 120px;
        height: 120px;
    }

    .photograph-header h1 {
        font-size: 30px;
    }

    .profil-location {
        font-size: 18px;
    }

    .profil-tagline {
        font-size: 16px;
    }
}

@media screen and (max-width: 640px) {
    .contact_button {
        width: 100%;
        height: 50px;
        font-size: 16px;
    }

    #photographer_gallery article {
        width: 100%;
        margin-bottom: 50px;
    }

    .lightbox-image,
    .lightbox-video {
        height: auto;
    }

    .modal {
        width: 100%;
        padding: 15px;
    }
}